* {
  margin: 0;
  padding: 0;
}

.container {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 4px;
  grid-template-rows: 90px 50px 800px 50px;
}

html, body{
  height: 100%;
  width: 100%;
}



.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
}

.header {
  background-color: #393f4d;
  grid-column: 1 / 3;
  display: inline-grid;
  grid-template-columns: 1fr 4fr;
  grid-auto-flow: column;
}

.logo {
}

.menu {
}

.menu ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-flow: row;
  justify-items: right;
  list-style: none;
}

.menu ul,
.menu li {
  font-size: 16px;
}

.sidebar {
  background-color: #FF7755;
  display: grid;
  grid-row: 2 / 4;
  gap: 50px;
}

.sidebar .photo {
  background-color: white;
  color: black;
  font-size: 12px;
  font-weight: normal;
  border-radius: 10px;
}

.photo  {
  display: grid;
  justify-content: center;
  align-items: center ;
}

.sidebar .side-content {
  background-color: white;
  color: black;
  font-size: 16px;
  font-weight: normal;
  display: grid;
  justify-content: center;
  align-items: center ;
}

.nav {
  background-color: #FF7755;
}

.nav ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-flow: row;
  justify-items: center;
  list-style: none;
}

.nav ul li {
  font-size: 16px;
  text-transform: uppercase;
}

.article {
  background-color: #bccbde;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}

.article .card {
  background-color: #FFFFFF;
  color: black;
  text-align: center;
  height: 200px;
}

.card p {
  color: black;
  font-weight: normal;
  font-size: 14px;
}

.card .title {
  font-size: 18px;
  text-align: center;
}

.footer {
  background-color: #393f4d;
  grid-column: 1 / -1;
}

.footer p {
  font-size: 13px;
  font-weight: normal;  
}
